.card {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  border-radius: 10px;
  overflow: hidden;
  width: 282px;
}

.cards__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  justify-content: center;
  grid-gap: 20px 17px;
  padding: 0;
  margin: 0;
}

.card__image {
  height: 282px;
  width: 282px;
}

.card__description {
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  align-items: center;
  background: white;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 29.05px;
  justify-content: space-between;
  color: black;
}

.card__title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-size: 24px;
  font-weight: 900;
}

.card__like-button {
  background: transparent url(../images/like-button.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
}

.card__like-button:hover {
  opacity: 50%;
}

@media screen and (max-width: 480px) {
  .cards__list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }

  .card__like-button {
    margin: 0;
  }
}
